models
__pycache__/
*.txt
!requirements.txt
dataset
results
*.csv
*.sh
ollama
supporting_scripts
ollama_test
prompt_attacker/models/
prompt_attacker/results/
prompt_attacker/ollama/
prompt_attacker/dataset/
prompt_attacker/Dataset_b/
prompt_attacker/supporting_scripts/
ollama_test/
*.png
*.jpg
lib/*
*.json
*.zip
!make_submission_zip.sh
!prompt_attacker/oponent_tutorial_steps.txt
