models
__pycache__/
*.txt
dataset
results
*.csv
*.sh
ollama
supporting_scripts
ollama_test
my_implementation/models/
my_implementation/results/
my_implementation/ollama/
my_implementation/dataset/
my_implementation/Dataset_b/
my_implementation/supporting_scripts/
ollama_test/
*.png
*.jpg
lib/*
*.json